extends ../layout

block header
    - cur = "empresas_clientes"

block content
    h1 #{title}
    form(method='POST', action='/empresas/clientes/add')
        //-  cnpj_cli,     nome,       valor,      interesse,       telefone, email, endereco

        #form-group
            lable CNPJ:
            input.form-control(name='cnpj_cli', type='text', value=empresa.cnpj_cli)
        #form-group
            lable Nome:
            input.form-control(name='nome', type='text', value=empresa.nome)
        #form-group
            lable E-mail:
            input.form-control(name='email', type='text', value=empresa.email)
        #form-group
            lable Telefone:
            input.form-control(name='telefone', type='text', value=empresa.telefone)
        #form-group
            lable Interesse:
            input.form-control(name='interesse', type='text', value=empresa.interesse)
        #form-group
            lable Endereço:
            input.form-control(name='endereco', type='text', value=empresa.endereco)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-plus
                |   Adicionar