extends ../layout

block header
    - cur = "empresas_transportes"

block content
    h1 #{title}
    form(method='POST', action='/empresas/transportes/update/' + empresa.cnpj_trans)
        #form-group
            lable CNPJ:
            input.form-control(name='cnpj_trans', type='text', value=empresa.cnpj_trans, disabled='disabled')
        #form-group
            lable Nome:
            input.form-control(name='nome', type='text', value=empresa.nome)
        #form-group
            lable E-mail:
            input.form-control(name='email', type='text', value=empresa.email)
        #form-group
            lable Telefone:
            input.form-control(name='telefone', type='text', value=empresa.telefone)
        #form-group
            lable Valor:
            input.form-control(name='valor', type='text', value=empresa.valor)
        #form-group
            lable Interesse:
            input.form-control(name='interesse', type='text', value=empresa.interesse)
        #form-group
            lable Endereço:
            input.form-control(name='endereco', type='text', value=empresa.endereco)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-send
                |   Salvar
        |  
        button.btn.btn-danger(type='button', data-toggle='modal', data-target='#exampleModalCenter')
            span.btn-label
                i.fa.fa-trash
                |   Apagar Empresa
    #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Apagar Empresa
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Deseja mesmo apagar a empresa 
                    b= empresa.cnpj_trans
                    |?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    form(method='POST', action='/empresas/transportes/delete')
                        input.form-control(name='cnpj_trans', type='hidden', value=empresa.cnpj_trans)
                        button.btn.btn-danger(type='submit')
                            span.btn-label
                                i.fa.fa-send
                                |  Sim, apagar
