extends ../layout

block header
    - cur = "rotativos"

block content
    h1 #{title}
    form(method='POST', action='/rotativos/update/' + rotativo.cpf_rotativo)
        #form-group
            lable CPF:
            input.form-control(name='cpf_rotativo', type='text', value=rotativo.cpf_rotativo, disabled='disabled')
        #form-group
            lable Categoria:
            input.form-control(name='categoria', type='text', value=rotativo.categoria)
        #form-group
            lable Banco Horas:
            input.form-control(name='bco_horas', type='text', value=rotativo.bco_horas)
        #form-group
            lable Setor:
            input.form-control(name='setor', type='text', value=rotativo.setor)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-send
                |   Salvar
        |  
        button.btn.btn-danger(type='button', data-toggle='modal', data-target='#exampleModalCenter')
            span.btn-label
                i.fa.fa-trash
                |   Apagar Rotativo
    #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Apagar Rotativo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Deseja mesmo apagar o rotativo 
                    b= rotativo.cpf_rotativo
                    |?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    form(method='POST', action='/rotativos/delete')
                        input.form-control(name='cpf_rotativo', type='hidden', value=rotativo.cpf_rotativo)
                        button.btn.btn-danger(type='submit')
                            span.btn-label
                                i.fa.fa-send
                                |  Sim, apagar
