extends ../layout

block header
    - cur = "preparacoes"

block content
    h1 #{title}
    form(method='POST', action='/preparacoes/update/' +  encodeURIComponent(preparacao.cnpj_tec) + '/' + (preparacao.cpf_ator) + '/' + encodeURIComponent(preparacao.data_prepa))
        #form-group
            lable CNPJ Tec:
            input.form-control(name='cnpj_tec', type='text', value=preparacao.cnpj_tec, disabled='disabled')
        #form-group
            lable CPF Ator:
            input.form-control(name='cpf_ator', type='text', value=preparacao.cpf_ator, disabled='disabled')
        #form-group
            lable Data Preparação:
            input.form-control(name='data_prepa', type='text', value=preparacao.data_prepa, disabled='disabled')
        #form-group
            lable Valor:
            input.form-control(name='valor_prep', type='text', value=preparacao.valor_prep)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-send
                |   Salvar
        |  
        button.btn.btn-danger(type='button', data-toggle='modal', data-target='#exampleModalCenter')
            span.btn-label
                i.fa.fa-trash
                |   Apagar Preparação
    #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Apagar Preparação
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Deseja mesmo apagar a preparação 
                    b= preparacao.cnpj_tec
                    | -
                    b= preparacao.cpf_ator
                    | -
                    b= preparacao.data_prepa
                    |?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    form(method='POST', action='/preparacoes/delete')
                        input.form-control(name='cnpj_tec', type='hidden', value=preparacao.cnpj_tec)
                        input.form-control(name='cpf_ator', type='hidden', value=preparacao.cpf_ator)
                        input.form-control(name='data_prepa', type='hidden', value=preparacao.data_prepa)
                        button.btn.btn-danger(type='submit')
                            span.btn-label
                                i.fa.fa-send
                                |  Sim, apagar
