
extends ../layout


block header
    - cur = "locais-gravacao"

block content
    h1 #{title}
    form(method='POST', action='/locais-gravacao/add')
        #form-group
            lable Nome Local:
            input.form-control(name='nome_local', type='text', value=localGravacao.nome_local)
        #form-group
            lable Endereço Local:
            input.form-control(name='endereco_local', type='text', value=localGravacao.endereco_local)
        #form-group
            lable Tipo Ambiente:
            input.form-control(name='tipo_amb', type='text', value=localGravacao.tipo_amb)
        #form-group
            lable Valor Local:
            input.form-control(name='valor_local', type='text', value=localGravacao.valor_local)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-plus
                |   Adicionar